name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy locally
        run: |
          cd ~/apps/Chronos-Watch
          git pull origin main
          npm install
          npm run build
          pm2 restart chronos || pm2 start "serve -s dist -l 3000" --name chronos
